h3 {
  font-family: 'Courier New', Courier, monospace; /* Set Courier New for main headings */
  color: #FF9933; /* Saffron color for main headings */
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: #E0E0E0;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
}

.header-title-container {
  display: flex;
  align-items: center;
  flex:1;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FF9933;
  text-align: left;
}

.header-title :hover {
  color: gold;
}
.menu-icon {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  cursor: pointer;
}


nav {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

nav a { 
  color: #FF9933;
  font-weight: 500;
  font-size: 1rem;
}

nav a:hover {
  color: gold;
}

/* Hide the menu list by default using visibility and opacity */
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row; /* Horizontal layout for links */
  gap: 2rem;
}

/* When the menu is open, show the elements */
.nav-menu ul li {
  visibility: hidden;  /* Hide elements initially */
  opacity: 0;
  pointer-events: none; /* Prevent interaction */
  transition: visibility 0.6s, opacity 0.6s ease-in-out; /* Smooth transition effect */
}

.nav-menu.open ul li {
  visibility: visible;  /* Show elements when menu is open */
  opacity: 1;
  pointer-events: auto; /* Allow interaction */
}

/* Responsive design for different screen widths */
@media (max-width: 1024px) {
  .header-title {
    font-size: 1.3rem;
  }

  nav ul {
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem 1rem;
  }

  .header-title {
    font-size: 1.2rem;
  }

  nav ul {
    flex-direction: column; /* Vertical layout for links */
    gap: 1rem;
    position: absolute;
    top: 100%; /* Position below the nav bar */
    left: 0;
    width: 100%;
    background-color: #121212; /* Same background as header */
    padding: 1rem;
    display: none; /* Hide by default */
    align-items: center;
  }

  .nav-menu.open ul {
    display: flex; /* Show when menu is open */
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-icon {
    display: flex;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.5rem 1rem;
  }

  .header-title {
    font-size: 1rem;
  }
  

  .header-title {
    font-size: 1rem;
  }
  nav ul {
    flex-direction: column; /* Vertical layout for links */
    gap: 0.5rem;
    position: absolute;
    top: 100%; /* Position below the nav bar */
    left: 0;
    width: 100%;
    background-color: #121212; /* Same background as header */
    padding: 0.5rem;
    display: none; /* Hide by default */
    align-items: center;
  }

  .nav-menu.open ul {
    display: flex; /* Show when menu is open */
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }


  nav a {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .header-title {
    font-size: 0.8rem;
  }

  nav a {
    font-size: 0.8rem;
  }
  nav ul {
    flex-direction: column; /* Vertical layout for links */
    gap: 0.5rem;
    position: absolute;
    top: 100%; /* Position below the nav bar */
    left: 0;
    width: 100%;
    background-color: #121212; /* Same background as header */
    padding: 0.5rem;
    display: none; /* Hide by default */
    align-items: center;
  }

  .nav-menu.open ul {
    display: flex; /* Show when menu is open */
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }


  .menu-icon {
    font-size: 1.2rem;
  }
}