.resume-page {
    padding: 2rem;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.resume-heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #FF9933;
    border-bottom: 2px solid #FF9933;
    padding-bottom: 0.5rem;
}

.resume-section {
    margin-bottom: 2rem;
}

.resume-section h2 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    color: #FF9933
}

.education-details, .experience-item, .certifications-container, .achievements-container {
    padding: 1rem;
    background-color: rgba(255, 99, 71, 0.1);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-category {
    flex: 1;
    min-width: 200px;
}

.skills-category h3 {
    font-size: 1.4rem;
    color: #FF9933;
    margin-bottom: 0.5rem;
}

.skill-item {
    background-color: rgba(255, 99, 71, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    color: #fff;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.pill {
    background: linear-gradient(90deg, #ff7f50, #ff6347, #ff4500);
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    cursor: pointer;
}

.pill:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 99, 71, 0.5);
}

.download-button {
    text-decoration: none;
    color: #fff;
    background: #FF9933;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 1.5rem;
}

.download-button:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}
